@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Speigel&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
  }
  
  .home-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
