.navbar {
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
}

.navbar-brand {
  display: flex;
  font-family: "Speigel", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 2rem;
  background: linear-gradient(to bottom, white, white 55%, gray);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-title {
  margin-top: 0.4rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-icon {
  width: 50px;
  height: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #00f5d0;
}

.current-user {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
